.picturescroll {

  width: 100%;
  height: 200px;
  background-color: grey;
}
.iteminfo1 {

  width: 100%;
  height: 80px;
  background-color: rgb(235, 235, 235);
}
.iteminfo2 {

  width: 100%;
  background-color: rgb(235, 235, 235);
}
.price {
  font-size: 45px;
  margin-top: 30px;
  background-color: rgb(235, 235, 235);
}
.cond {
  font-style: italic;
  margin-top: 40px;
  background-color: rgb(235, 235, 235);
}
.details1 {
  font-size: 15px;
  margin-top: 40px;
  color: rgb(100, 100, 100);
  background-color: rgb(235, 235, 235);
}
.details2 {
  margin-left: 2px;
  font-size: 13px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  background-color: rgb(235, 235, 235);
}
.iconstyle {
  color: darkred;
}
.profilebutton {
  font-size: 30px;
}


