.logo {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.tagline {
  display: block;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 10%;
  margin-right: 5%;
}
