<ion-content padding class="background" color="grey">
	<ion-grid >
		<ion-row>
			<img src="assets/icon/Logo.jpeg" class="logo" width="100" height= "111">
		</ion-row>
		<ion-row>
			<ion-text class="contenttext">
				Welcome to IIUM EzBuyNSell!
			</ion-text>
		</ion-row>
		<ion-row>
			<ion-text class="detailtext">
				Proceed to Homepage to start buying and selling items!
			</ion-text>
		</ion-row>
	</ion-grid>
</ion-content>


<ion-tabs #tabs class="tabby">
	<ion-tab-bar slot="bottom" color="turqoise">

		<ion-tab-button tab="messages">
			<ion-icon name="chatbubble-outline"></ion-icon>
			<ion-label>Messages</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="homepage">
      <ion-icon name="home-outline"></ion-icon>
			<ion-label>Homepage</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
			<ion-label>Profile</ion-label>
		</ion-tab-button>


	</ion-tab-bar>
</ion-tabs>

