.contenttext {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: x-large;
  font-weight: bolder;

}
.detailtext {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: small;
  font-weight: lighter;

}

.logo {
  margin-left: 85px;
  margin-top: 140px;
}
