<ion-header>
  <ion-toolbar>
    <ion-title>Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card  *ngFor="let item of itemLists" color="primary">
    <span >
      <ion-card-header>
        <ion-card-title>{{item.Item}}  ({{item.Condition}})</ion-card-title>
        <ion-card-title>RM {{item.Price}}</ion-card-title>
        <ion-card-subtitle>{{item.Description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="favouriteItem(userUID,item.uid)">
          <ion-icon size="small" slot="icon-only" name="heart"></ion-icon>

        </ion-button>

      </ion-card-content>
    </span>

  </ion-card> -->

  <ion-card *ngFor="let item of itemLists" [button]="true" >
    <ion-grid class="grid">
  <ion-row >
    <img class="bigrow" src="assets/icon/Logo.jpeg" width="80" height="90" (click)="itemdisplay()">

    <ion-col class="col1" fixed>
      <div class="text2">{{item.Item}}</div>
      <div class="text1">RM{{item.Price}}</div>
      <div class="text2">{{item.Condition}}</div>
      <div class="text3">{{item.Description}}</div>

    </ion-col>

    <ion-col class="col2">
      <ion-row>
        <div>
          <ion-button class="rightbutton" fill="clear">
            <ion-icon name="person-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-row>
      <ion-row>
        <div>
          <ion-button class="rightbutton" fill="clear" (click)="favouriteItem(userUID,item.uid)">
            <ion-icon name="heart" class="iconstyle"></ion-icon>
          </ion-button>
        </div>
      </ion-row>

    </ion-col>
  </ion-row>


</ion-grid>
</ion-card>
</ion-content>


