.profiletab {
  margin-bottom: 20px;
  background-color: white;
}

.info1 {

  font-size: 11px;
  margin-top: 10px;
  margin-left: 10px;
}

.profilepic {
  font-size: 75px;
}

.infotext1 {
  margin-left: 10px;
  text-transform: uppercase;
}
.infotext2 {
  margin-left: 10px;
}

.listname {
  font-weight: bolder;
}

//below this is for card
.grid {
  background-color: rgb(240, 240, 240);
}
.bigrow {
  background-color:  rgb(240, 240, 240);
  padding: 5px;
}

.col1 {
  background-color:  rgb(240, 240, 240);
  padding-right: 10px;
}
.col2 {
  background-color: rgb(240, 240, 240);
}
.rightbutton {

  width: 35px;
  height: 5x;
}
.iconstyle {
  color: darkred;
}
.text1 {
  font-size: 20px;
}
.text2 {
  font-size: 10px;
  font-style: italic;
}
.text3 {
  font-size: 8px;
}
.text4 {
  font-size: 10px;
}
